body{
	font:600 16px/18px 'Open Sans',sans-serif;
	padding: 0px;
	margin: 0px;
  background-color:#6699FF; 

}

div{
  background-color:   #808080;
	border:1px solid black;
	width: 300px;
	height: 200px;
	margin: auto;
	text-align: center;
  opacity: 0.5;
}
input {
	color: red;
}
